.header img{
    height:80px;
    margin-bottom: 20px;
    
}

.header{
    text-align:center;
   background: lightcyan;
    
}

.header nav{
    background:black;
    padding: 20px;

    
}

.header nav a{
    margin-left: 30px;
    text-decoration:none;
    color: white;
    padding: 19px;
    font-weight: 400;
}

.header nav a:hover{
    background-color:gray
    
}